extends layout

block title
  title Edit #{project.name} - pledgy

block content
  div.container
    h3 Edit #{project.name}
    div.divider
    div.row
      form.col.s12(action="/project/#{project.id}/update", method="POST")
        div.row
          div.col.s12.m6.l6.input-field
            input#project_name(value="#{project.name}" type="text", name="project_name").validate
            label(for="project_name") Project name
          div.col.s12.m6.l6.input-field
            input#project_owner(value="#{project.owner}", type="text", name="project_owner").validate
            label(for="project_owner") Your name
        div.row
          div.col.s12.m6.l6.input-field
            input#project_subtitle(value="#{project.subtitle}", type="text", length="42", name="project_subtitle").validate
            label(for="project_subtitle") Short description
          div.col.s12.m6.l6.input-field
            input#project_goal(value="#{project.goal / 100}", type="number", min="1", name="project_goal").validate
            label(for="project_goal") Funding goal (in €)
        div.row
          div.col.s12.m12.l12
            input#project_archived(type="checkbox", name="project_archived").filled-in
            label(for="project_archived") Move to archive
        div.fixed-action-btn.fancy-floating-button
          button.btn-floating.btn-large.waves-effect.waves-light(type="submit", method="action")
            i.material-icons send
